.url-field {
  width: 96%;
  text-overflow: ellipsis;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn .material-icons, .btn:not(.btn-just-icon):not(.btn-fab) .fa {
  font-size: 24px;
}