<form (submit)="redirect()">
  <div class="row">
    <div class="col-md-9">
      <div class="form-group bmd-form-group">
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="youtubeUrl" type="url" (keyup)="redirect()" placeholder="Youtube URL Here" class="form-control">
      </div>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary btn-block" (click)="redirect()">
        <span>Start</span>
        <i class="material-icons">arrow_forward</i>
      </button>
    </div>
  </div>
</form>