<mat-card>
    <mat-toolbar>
        <mat-toolbar-row>
            <span>YouTube Video Downloader</span>
            <span class="example-spacer"></span>
            <button mat-button color="accent">
                <mat-icon>code</mat-icon>
                GitHub</button>
            <button mat-button color="accent">
                <mat-icon>content_copy</mat-icon>
                Clone</button>
        </mat-toolbar-row>
    </mat-toolbar>
    <br>
    <router-outlet>
    </router-outlet>
</mat-card>