<div class="header-2">
    <nav class="navbar navbar-transparent navbar-absolute navbar-expand-lg">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-translate">
                <a class="navbar-brand" routerLink="">YouTube Downloader</a>
                <button type="button" class="ml-auto navbar-toggler" data-toggle="collapse" data-target="#navigation-example2" aria-expanded="true">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse show" id="navigation-example2">
                <ul class="navbar-nav navbar-center ml-auto">
                    <li class="nav-item" routerLink="" routerLinkActive="active">
                        <a routerLink="" class="nav-link">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" href="https://github.com/xamantra/xam-youtube-downloader" class="nav-link">
                            <i class="fa fa-github"></i>
                            <span>Repository</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" href="https://github.com/xamantra/xam-youtube-downloader/blob/master/README.md" class="nav-link">
                            <i class="fa fa-book"></i>
                            <span>README</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" href="https://github.com/xamantra/xam-youtube-downloader/blob/master/LICENSE.md" class="nav-link">
                            <i class="fa fa-code"></i>
                            <span>License</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a target="_blank" href="https://github.com/xamantra/xam-youtube-downloader-api" class="nav-link">
                            <i class="fa fa-link"></i>
                            <span>The API</span>
                        </a>
                    </li>
                </ul>
                <!--ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="https://twitter.com/CreativeTim" class="nav-link">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/CreativeTim" class="nav-link">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com/CreativeTimOfficial" class="nav-link">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul-->
            </div>
        </div>
    </nav>
    <div class="page-header header-filter" style="background-image: url('assets/images/16.jpg');">
        <div class="container">
            <div class="row">

                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-raised card-form-horizontal">
                        <div class="card-body ">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h4>This project is open source under GNU General Public License v3.0</h4>
                </div>
            </div>
        </div>
    </div>
</div>