/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "theme.scss";

html, body {
    height: 98%;
    overflow: auto;
}

body {
    background-color: #EAEAEA;
    background-image: url("assets/images/16.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}